/* Import de la police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Utilisation de la police pour tout le texte de l'application */
body {
    font-family: 'Montserrat', sans-serif;
    color : white;
}

/* Application du fond noir à toute l'application */
html, body {
    background-color: #2c2f33 ;
}

.inscription-button {
    background-color: #7F7FFF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}
.regles-button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}
.logout-button {
    background-color: darkred;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}
.lobby-button {
    background-color: yellow;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}

.inscription-button:hover {
    background-color: blue;
}

.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 72px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.logo span {
    display: inline-block;
    transform: rotate(-15deg);
    animation: spin 2s ease-in-out infinite;
}

.logo span.red {
    color: #ff0000;
}

.logo span.blue {
    color: #0000ff;
}

.logo span.yellow {
    color: #ffff00;
}

.logo span.green {
    color: #00ff00;
}

.login-form {
    padding: 50px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
}

.login-form button[type='submit'] {
    display: block;
    width: 100%;
    background-color: #00ff00;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login-form button[type='submit']:hover {
    background-color: #33cc33;
}

@keyframes spin {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

.inscription-button {
    background-color: #7f7fff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}

.inscription-button:hover {
    background-color: blue;
}

.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 72px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.logo span {
    display: inline-block;
    transform: rotate(-15deg);
    animation: spin 5s infinite linear;
}

/* Formulaire d'inscription */

.inscription-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inscription-form input[type="text"],
.inscription-form input[type="password"] {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    width: 300px;
}

.inscription-form input[type="submit"] {
    background-color: #7f7fff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}

.inscription-form input[type="submit"]:hover {
    background-color: blue;
}

.inscription-title {
    font-size: 48px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.inscription-title span {
    display: inline-block;
    transform: rotate(-15deg);
    animation: spin 5s infinite linear;
}

.rules {
    display: block; /* pour éviter les espaces blancs */
    margin: 20%; /* centrer horizontalement */
    position: absolute; /* position absolue pour centrer verticalement */
    top: 75%;
    transform: translateY(-50%); /* centrer verticalement */
}
.grid {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.card-row {
    display: flex;
}

.card {
    position: absolute;
    width: 100px;
    height: 150px;
    cursor: pointer;
}
.lobby{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}





